Repository jenkinsci/docker-inbound-agent, pull requests merged in 2023-09, with the labels that each got.

#393 chore(updatecli) track docker-bake.hcl variables with the HCL resource instead of file resource
  updatecli/updatecli.d/docker-agent.yaml
Labels: chore, updatecli

#308 fix: keep the parent image label with the proper remoting version (fixes hadolint violations)
  alpine/Dockerfile
  debian/Dockerfile
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: bug

#397 feat(jdk): Add preview images for jdk21
  alpine/Dockerfile-jdk21
  debian/Dockerfile-jdk21
  docker-bake.hcl
  tests/tests.bats
Labels: enhancement, jdk21

#396 breaking: refactor like jenkinsci/docker-agent#459
  Jenkinsfile
  alpine/Dockerfile
  build-windows.yaml
  build.ps1
  debian/Dockerfile
  tests/inboundAgent.Tests.ps1
  tests/netcat-helper/Dockerfile-windows
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: enhancement, breaking, windows

#399 chore(updatecli): Checks if JDK21 preview images are available for Debian and Alpine Linux.
  updatecli/updatecli.d/docker-agent.yaml
Labels: chore, updatecli, jdk21

#400 chore(updatecli): Splits the manifest.
  updatecli/updatecli.d/jdk-11.yaml
  updatecli/updatecli.d/jdk-17.yaml
  updatecli/updatecli.d/jdk-21.yaml
Labels: chore, updatecli, jdk21, jdk11, jdk17

#404 Revert "chore(updatecli): Splits the manifest."
  updatecli/updatecli.d/docker-agent.yaml
  updatecli/updatecli.d/jdk-11.yaml
  updatecli/updatecli.d/jdk-21.yaml
Labels: chore

#406 Adding debian_jdk21 to ppc64le build list to test
  docker-bake.hcl
Labels: enhancement

#411 Bump the parent image `jenkins/agent` version to `3148.v532a_7e715ee3-8`
  alpine/Dockerfile
  build.ps1
  debian/Dockerfile
  docker-bake.hcl
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: dependencies

#412 chore(updatecli) fix platform syntax for armv7 (edge case)
  updatecli/updatecli.d/docker-agent.yaml
Labels: chore, updatecli
